@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  /* --btn-primary: rgb(248, 208, 192); */
  --btn-primary: salmon;
  --btn-dark: rgb(201, 142, 119);
  --btn-active: #ff9d92;
  --btn-shadow: #8a8a8a;
  --box-shadow-val: 1em 1em 1px var(--btn-shadow);
  --box-shadow-inset: inset 3px 3px 1px var(--btn-shadow);
}

body {
  font-family: "Roboto", "sans-serif";
}

.hp-title-container {
  display: flex;
  color: salmon;
  padding: 1.5em;
  width: 100%;
  height: 5em;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

.hp-title {
  font-size: 3.5em;
  font-family: "Roboto", "sans-serif";
}

hr {
  border: 1px solid white;
}

.hp-text-container {
  display: grid;
  width: 80%;
  margin: 0 10%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.5em;
  justify-content: center;
}

.hp-text-box {
  transition: transform 250ms;
  padding: 1.5em;
  border-radius: 1em;
  background-color: #e7f2f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}
.hp-text-box:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-val);
}

.hp-text-box.one {
  transition: all 250ms;
  /* justify-self: flex-start; */
}
.hp-text-box.one:hover {
  transition: all 250ms;
  background-color: #74bdcb;
}

.hp-text-box.two:hover {
  background-color: rgb(245, 170, 140);
}
.hp-text-box.three:hover {
  background-color: #efe7bc;
}
.hp-text-box.four {
  display: none;
}

p {
  padding: 0.5em;
}

.hp-link-btn {
  transition: all 250ms;
  width: 50%;
  background-color: white;
  padding: 0.5em;
  text-align: center;
  border: 1px solid var(--btn-primary);
  border-radius: 26px;
  background-color: inherit invert;
  color: black;
}

.hp-link-btn:hover {
  color: black;
  background-color: white;
}

.hp-contact-container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5% 0 5%;
}

.hp-contact-link {
  color: #74bdcb;
  transition: transform 250ms;
}
.hp-contact-link:hover {
  color: #74bdcb;
  transform: scale(1.1);
}
